:root {
    --primary: #901c1c;
    --secondary: #d3573c;
    --text-primary: #000000;
    --text-secondary: #525252;
}

*:focus-visible {
    outline: black solid 3px;
}

body {
    font-size: 18px;
    color: var(--text-primary);
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.photograph-header.container {
    margin-bottom: 50px;
}

.photograph-header h1,
.photograph-header p {
    margin: 0;
    margin-bottom: 20px;
}

.photograph-header-part {
    flex: 1;
}

#photographer-header-button {
    display: flex;
    justify-content: center;
}

#photograph-header-avatar {
    display: flex;
    justify-content: flex-end;
}

.photograph-header h1 {
    color: var(--secondary);
    font-size: 64px;
}

.photograph-header .location {
    color: var(--primary);
    font-size: 24px;
}

.photograph-header .tagline {
    color: var(--text-secondary);
    font-size: 18px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/* TOOLBAR */
#sorter {
    display: flex;
    align-items: center;
}

#sort-label {
    margin-right: 20px;
}

#sort-system {
    position: relative;
    width: 150px;
}

#sort-selected {
    background-color: var(--primary);
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    cursor: pointer;
}

#sort-selected-value {
    text-transform: capitalize;
}

.sort-icon {
    margin-left: 10px;
}

#sort-options {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
}

.sort-option {
    padding: 10px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.sort-option:hover {
    background-color: var(--secondary);
}

#sort-options .sort-option:nth-child(1) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#sort-options .sort-option:nth-child(3) {
    border-bottom: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* MEDIAS */
#medias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    padding: 20px 0;
}

.media-card-wrapper {
    display: flex;
}

#medias .media-card-wrapper:nth-child(3n) {
    justify-content: flex-end;
}

#medias .media-card-wrapper:nth-child(3n-1) {
    justify-content: center;
}

.media-card {
    width: 350px;
    display: flex;
    flex-direction: column-reverse;
}

.media-card a {
    display: block;
}

.media-card-thumbnail {
    height: 300px;
    border-radius: 5px;
}

.media-card-thumbnail img,
.media-card-thumbnail video {
    border-radius: 5px;
    width: 350px;
    height: 300px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: var(--primary);
    margin-top: 10px;
}

.media-card-title {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.media-card-like {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

/* MODALE */
#contact_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(196, 196, 196, 0.40);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.modal header img {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.modal header h2 {
    margin: 0;
    font-size: 64px;
    font-weight: normal;
}

#modal-photographer-name {
    display: block;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input,
form textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px;
}

form input {
    height: 68px;
}