@import url("photographer.css");

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: auto;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo {
    height: 50px;
}

h1 {
    color: #901C1C;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
    row-gap: 70px;
}

.photographer_section article {
    width: 100%;
    display: flex;
}

.photographer_section article:nth-child(3n) {
    justify-content: flex-end;
}

.photographer_section article:nth-child(3n-1) {
    justify-content: center;
}

.photographer_section .article-body {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article h2,
article .location,
article .tagline,
article .price {
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

article h2,
article p {
    margin: 0;
}

article h2 {
    margin-top: 20px;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.rounded-avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rounded-avatar img {
    width: 320px;
    height: auto;
}

.location {
    color: #901C1C;
    font-size: 16px;
}

.tagline {
    font-size: 14px;
}

.price {
    color: #757575;
    font-size: 12px;
}